// Control de Scroll Táctil Responsivo para Libros de Excel
.container-tabla-movil {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* Suavidad de arrastre en iPhone/Android */
}

.table-sm-responsive {
  min-width: 1000px; /* Fuerza a que la matriz mantenga su tamaño contable y no se aplaste */
}

// Limitar el ancho del texto en pantallas de celulares
.style-nombre-cliente {
  max-width: 160px;
  vertical-align: middle;
}

@media (max-width: 576px) {
  .btn-xs {
    padding: 0.25rem 0.4rem !important;
    font-size: 0.72rem !important;
  }
  .fs-7 {
    font-size: 0.78rem !important;
  }
  .fs-8 {
    font-size: 0.7rem !important;
  }
}
