.fs-8 {
  font-size: 0.75rem !important;
}
.fs-9 {
  font-size: 0.65rem !important;
}
.font-mono {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}
/* Scrollbar estilizada y delgada para el panel lateral */
.overflow-auto {
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  &::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 2px;
  }
}
